/****************** BODY  *******************/

.body{
	background-image: url("images/contactme.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	height: 600px;
}

.body h2{
	margin: 0px;
	padding-top: 60px;
	text-align: center;
	color: white;
	font-size: 60px;
}

.body p{
	text-align: center;
	color: white;
	font-size: 30px;
}


	
.fa-arrow-down{
	text-align: center;
	color: white;
	font-size: 50px;
	margin: 0 auto;
	display: block;
}

.fa-envelope{
	text-align: center;
	color: white;
	font-size: 80px;
	margin: 0 auto;
	display: block;
}

.fa-envelope:hover{
	border:5px solid #00aeff ;
	border-radius: 10px;
}